In [1]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt
import folium
import seaborn as sns

In [2]:
df_rests=pd.read_csv('rests.csv')
df_init=pd.read_csv('initial.csv')

In [3]:
df_rests.rename(columns={'Unnamed: 0':'CAMIS'},inplace=True)
df_rests.head()

,CAMIS,DBA,CUISINE DESCRIPTION,BORO,BUILDING,STREET,ZIPCODE,Latitude,Longitude,Community Board,Council District,Census Tract,BIN,BBL,NTA,is_chain
0,30075445,MORRIS PARK BAKE SHOP,Bakery,Bronx,1007,MORRIS PARK AVE,10462.0,40.848231,-73.855972,211.0,13.0,25200.0,2045445.0,2.041270e+09,BX37,0
1,30112340,WENDY'S,Hamburgers,Brooklyn,469,FLATBUSH AVENUE,11225.0,40.662652,-73.962081,309.0,40.0,32700.0,3029737.0,3.011970e+09,BK60,1
2,30191841,DJ REYNOLDS PUB AND RESTAURANT,Irish,Manhattan,351,WEST 57 STREET,10019.0,40.767326,-73.984310,104.0,3.0,13900.0,1026048.0,1.010480e+09,MN15,0
3,40356018,RIVIERA CATERERS,American,Brooklyn,2780,STILLWELL AVENUE,11224.0,40.579920,-73.982090,313.0,47.0,34800.0,3347399.0,3.069970e+09,BK21,0
4,40356151,BRUNOS ON THE BOULEVARD,American,Queens,8825,ASTORIA BOULEVARD,11369.0,40.763971,-73.880973,403.0,22.0,32900.0,4024132.0,4.011000e+09,QN28,0

In [4]:
df_init.drop(columns=['Unnamed: 0'],inplace=True)
df_init['DATE']=pd.to_datetime(df_init['DATE'])
df_init.head()

,CAMIS,DATE,SCORE,INSPECTION TYPE,02A,02B,02C,02D,02E,02F,...,10D,10E,10F,10G,10H,10I,10J,ACTION,CRITICAL FLAG,GRADE
0,30075445,2017-05-18,7.0,Cycle Inspection / Initial Inspection,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,Violations were cited in the following area(s).,1,A
1,30075445,2018-05-11,5.0,Cycle Inspection / Initial Inspection,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,Violations were cited in the following area(s).,0,A
2,30075445,2019-05-16,14.0,Cycle Inspection / Initial Inspection,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,Violations were cited in the following area(s).,1,B
3,30112340,2016-10-03,48.0,Cycle Inspection / Initial Inspection,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Violations were cited in the following area(s).,3,C
4,30112340,2017-06-26,7.0,Cycle Inspection / Initial Inspection,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Violations were cited in the following area(s).,1,A

In [5]:
df_merged=df_init.merge(df_rests[['CAMIS','DBA','CUISINE DESCRIPTION','is_chain','Community Board','BORO']],on='CAMIS')
df_merged.head()

,CAMIS,DATE,SCORE,INSPECTION TYPE,02A,02B,02C,02D,02E,02F,...,10I,10J,ACTION,CRITICAL FLAG,GRADE,DBA,CUISINE DESCRIPTION,is_chain,Community Board,BORO
0,30075445,2017-05-18,7.0,Cycle Inspection / Initial Inspection,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,Violations were cited in the following area(s).,1,A,MORRIS PARK BAKE SHOP,Bakery,0,211.0,Bronx
1,30075445,2018-05-11,5.0,Cycle Inspection / Initial Inspection,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,Violations were cited in the following area(s).,0,A,MORRIS PARK BAKE SHOP,Bakery,0,211.0,Bronx
2,30075445,2019-05-16,14.0,Cycle Inspection / Initial Inspection,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,Violations were cited in the following area(s).,1,B,MORRIS PARK BAKE SHOP,Bakery,0,211.0,Bronx
3,30112340,2016-10-03,48.0,Cycle Inspection / Initial Inspection,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,Violations were cited in the following area(s).,3,C,WENDY'S,Hamburgers,1,309.0,Brooklyn
4,30112340,2017-06-26,7.0,Cycle Inspection / Initial Inspection,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,Violations were cited in the following area(s).,1,A,WENDY'S,Hamburgers,1,309.0,Brooklyn

In [6]:
df_merged.shape

(65932, 77)

In [24]:
df_merged.to_csv('merged.csv')

In [9]:
df_twice_init=pd.read_csv('twice_init.csv')

In [10]:
df_twice_init.drop(columns=['Unnamed: 0'],inplace=True)
df_twice_init['DATE']=pd.to_datetime(df_twice_init['DATE'])
df_twice_init.head()

,Unnamed: 0.1,CAMIS,DATE,SCORE,INSPECTION TYPE,02A,02B,02C,02D,02E,...,10H,10I,10J,ACTION,CRITICAL FLAG,GRADE,prev_score,prev_critical,A,prev_A
0,1,30075445,2018-05-11,5.0,Cycle Inspection / Initial Inspection,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,Violations were cited in the following area(s).,0,A,7.0,1,True,True
1,2,30075445,2019-05-16,14.0,Cycle Inspection / Initial Inspection,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,Violations were cited in the following area(s).,1,B,5.0,0,False,True
2,4,30112340,2017-06-26,7.0,Cycle Inspection / Initial Inspection,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,Violations were cited in the following area(s).,1,A,48.0,3,True,False
3,5,30112340,2018-03-13,12.0,Cycle Inspection / Initial Inspection,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,Violations were cited in the following area(s).,1,A,7.0,1,True,True
4,6,30112340,2019-03-04,13.0,Cycle Inspection / Initial Inspection,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,Violations were cited in the following area(s).,1,A,12.0,1,True,True

In [11]:
df_twice_merged=df_twice_init.merge(df_rests[['CAMIS','DBA','CUISINE DESCRIPTION','is_chain','Community Board','BORO']],on='CAMIS')
df_twice_merged.head()

,Unnamed: 0.1,CAMIS,DATE,SCORE,INSPECTION TYPE,02A,02B,02C,02D,02E,...,GRADE,prev_score,prev_critical,A,prev_A,DBA,CUISINE DESCRIPTION,is_chain,Community Board,BORO
0,1,30075445,2018-05-11,5.0,Cycle Inspection / Initial Inspection,0.0,0.0,0.0,0.0,0.0,...,A,7.0,1,True,True,MORRIS PARK BAKE SHOP,Bakery,0,211.0,Bronx
1,2,30075445,2019-05-16,14.0,Cycle Inspection / Initial Inspection,0.0,0.0,0.0,0.0,0.0,...,B,5.0,0,False,True,MORRIS PARK BAKE SHOP,Bakery,0,211.0,Bronx
2,4,30112340,2017-06-26,7.0,Cycle Inspection / Initial Inspection,0.0,0.0,0.0,0.0,0.0,...,A,48.0,3,True,False,WENDY'S,Hamburgers,1,309.0,Brooklyn
3,5,30112340,2018-03-13,12.0,Cycle Inspection / Initial Inspection,0.0,0.0,0.0,0.0,0.0,...,A,7.0,1,True,True,WENDY'S,Hamburgers,1,309.0,Brooklyn
4,6,30112340,2019-03-04,13.0,Cycle Inspection / Initial Inspection,0.0,0.0,0.0,0.0,0.0,...,A,12.0,1,True,True,WENDY'S,Hamburgers,1,309.0,Brooklyn

In [12]:
df_twice_merged.to_csv('twice_merged.csv')